@use '../../base';
.toolsAOIbutton {
    font-size: 1.5rem;
    padding: 0;
    margin-right: 8px;
    width: 46px;
    height: 46px;
    z-index: 12;

    &.active {
        background-color: base.$btn-active-background;
        color: base.$btn-active-color; 
    }

    &:hover {
        border-color: transparent;
    }

    &:disabled {
        color: base.$btn-color-disabled;
        background-color: base.$btn-background-disabled;
        cursor: not-allowed;
    }
}
