.left-menu {
    flex: 1;
    min-width: 200px;
    max-width: 300px;

    nav {
        ul {
            list-style: none;
            padding: 1rem;

            li {
                padding: 1rem;

                & > div {
                    cursor: pointer;
                }

                &.selected {
                    background-color: red;
                }
            }
        }
    }
}